.body-message
  - messages.each do |message|
    %p.body-message__name<
      = message.user.name
    %p.body-message__time<
      = message.created_at
    %p.body-message__body<
      = message.body
