.chat-main
  .chat-main__header
    .chat-main__header-group
      %p.chat-main__header-group-name<
        group name
      %a.chat-main__header-group-edit-btn<
        edit
    .chat-main__header-members<
      MEMBER:
      %i<
        member name
  .chat-main__body
    .chat-main__body-messages-list
      = render partial: "body-message"
  .chat-main__footer
    %form.chat-main__footer-form
      .chat-main__footer-body
        %input.chat-main__footer-body-message{placeholder: "type a message", type: "text"}
        %input.chat-main__footer-body-submit{type: "submit", value: "Send"}
