$sideColor: #ffffff;
$sideUserBackColor: #253141;
$sideGroupsBackColor: #2f3e51;
$mainHeaderColor: #333333;
$mainColor: #434a54;
$mainSubColor: #999999;
$mainFooterColor: #aaaaaa;
$buttonColor: #38aef0;
$borderColor: #eeeeee;
