.body-message {
  padding: 20px 0;
  &__name {
    color: $mainColor;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }
  &__time {
    color: $mainSubColor;
    font-size: 12px;
    padding: 0 10px 10px;
    float: left;
  }
  &__body {
    color: $mainColor;
    clear: both;
  }
}
