.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  &__user {
    height: calc(15% + 1px);
    background-color: $sideUserBackColor;
    position: relative;
    &-content {
      height: 50px;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    &-name {
      color: $sideColor;
      font-size: 16px;
      font-weight: bold;
      margin: 0 20px;
      position: relative;
      display: inline-block;
    }
    &-new-group {
      color: $sideColor;
      margin-left: 90px;
      position: relative;
      display: inline-block;
    }
    &-edit {
      color: $sideColor;
      margin-left: 10px;
      position: relative;
      display: inline-block;
    }
  }
  &__groups {
    height: 85%;
    background-color: $sideGroupsBackColor;
    &-list {
      color: $sideColor;
    }
  }
}

